body {
	overflow: auto;
}


#grid {
	align-content: center;
	width: 100%;
}
.band {
	white-space: nowrap;
}
.block {
	display: inline-block;
	border: 2px solid black;
}
.cell {
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	width: 5rem;
	height: 5rem;
	font-size: 3rem;
	line-height: 5rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}
input[type=number] {
	-moz-appearance: textfield;	/* Hide input spinners in Firefox */
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;	/* Hide input spinners in other browsers */
	margin: 0;
}


.default {
	pointer-events: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#block_00 input[type="number"],
#block_02 input[type="number"],
#block_11 input[type="number"],
#block_20 input[type="number"],
#block_22 input[type="number"] {
	background-color: lightgray;
}
#block_01 input[type="number"],
#block_10 input[type="number"],
#block_12 input[type="number"],
#block_21 input[type="number"] {
	background-color: white;
}